.login-contain {
  background-color: #343a40;
  height: 100vh;
  padding-top: 250px;
}
.makeStyles-root-1 {
  position: fixed !important;
  width: 100% !important;
}
.MuiBreadcrumbs-root {
  background: #eae8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.w-200 {
  width: 200px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-60 {
    margin-top: 60px;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.ft-12 {
  font-size: 12px !important;
}
.ft-13 {
  font-size: 13px !important;
}
.ft-14 {
  font-size: 14px !important;
}
.ft-15 {
  font-size: 15px !important;
}
.ft-16 {
  font-size: 16px !important;
}
.ft-17 {
  font-size: 17px !important;
}
.ft-18 {
  font-size: 18px !important;
}
.ft-19 {
  font-size: 19px !important;
}
.ft-20 {
  font-size: 20px !important;
}
